*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alata {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* .aclonica {
    font-family: "Aclonica", sans-serif;
    font-style: normal;
  } */
  .satisfy {
    /* Satisfya is stylish */
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .imageBg{
    background-color: #F2F0F1;
  }